# Scikit-Learn:

Hello World!

In [4]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
myData = {'Film':['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10'], 
          'Actor':['A1', 'A2', 'A3', 'A1', 'A5', 'A2', 'A7', 'A1', 'A1', 'A10'],
          'Year':['Y1 Y2 Y3', 'Y5 Y2', 'Y1 Y3', 'Y4', 'Y5', 'Y7 Y6', 'Y7 Y1 Y2', 'Y8', 'Y9 Y3 Y2', 'Y1 Y10'],
          'Director':['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10'],
          'Genre':['G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'G10']}

In [42]:
df = pd.DataFrame(myData)
df

  Film Actor      Year Director Genre
0   F1    A1  Y1 Y2 Y3       D1    G1
1   F2    A2     Y5 Y2       D2    G2
2   F3    A3     Y1 Y3       D3    G3
3   F4    A1        Y4       D4    G4
4   F5    A5        Y5       D5    G5
5   F6    A2     Y7 Y6       D6    G6
6   F7    A7  Y7 Y1 Y2       D7    G7
7   F8    A1        Y8       D8    G8
8   F9    A1  Y9 Y3 Y2       D9    G9
9  F10   A10    Y1 Y10      D10   G10

In [43]:
cm = CountVectorizer().fit_transform(df['Year'])

In [44]:
cn = cosine_similarity(cm)
print(cn)

[[1.         0.40824829 0.81649658 0.         0.         0.
  0.66666667 0.         0.66666667 0.40824829]
 [0.40824829 1.         0.         0.         0.70710678 0.
  0.40824829 0.         0.40824829 0.        ]
 [0.81649658 0.         1.         0.         0.         0.
  0.40824829 0.         0.40824829 0.5       ]
 [0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.70710678 0.         0.         1.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         1.
  0.40824829 0.         0.         0.        ]
 [0.66666667 0.40824829 0.40824829 0.         0.         0.40824829
  1.         0.         0.33333333 0.40824829]
 [0.         0.         0.         0.         0.         0.
  0.         1.         0.         0.        ]
 [0.66666667 0.40824829 0.40824829 0.         0.         0.
  0.33333333 0.         1.         0.        ]
 [0.40824829 0.         0.5        0.         0.         0.
  0.40824829 0.         0.         1.        ]]